<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Movie Management System</h1>
    <hr>
    <h2>Movie</h2>
    <table style="width:80%" border="1"
           class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Name</th>
            <th>Movies</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="genre:${genre}">
            <td th:text="${genre.name}"></td>
            <td th:text="${genre.movieName}"></td>
        </tr>
        </tbody>
    </table>

    <a th:href="@{/}"> Back to the movie List</a>
</div>
</body>
</html>