<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
    <h1>Movie List</h1>
    <a th:href="@{/add-movie}" class="btn btn-primary btn-sm mb-3" >Add movie</a>
    <a th:href="@{/add-genre}" class="btn btn-primary btn-sm mb-3" >Add genre</a>
    <table style="width:80%" border="1"
           class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Name</th>
            <th>Length</th>
            <th>Year</th>
            <th>External Link</th>
            <th>Genres</th>
        </tr>
        </thead>
    <tbody>
    <tr th:each="movie:${movies}">
        <td th:text="${movie.movieName}"></td>
        <td th:text="${movie.length}"></td>
        <td th:text="${movie.year}"></td>
        <td th:text="${movie.externalLink}"></td>
        <td th:text="${movie.genreName}"></td>
        <td> <a th:href="@{/update-movie/{id}(id=${movie.movieID})}"
                class="btn btn-primary">Update</a>
            <a th:href="@{delete-movie/{id}(id=${movie.movieID})}"
               class="btn btn-danger">Delete</a>
            <a th:href="@{get-movie/{id}(id=${movie.movieID})}"
               class="btn btn-danger">Get</a>
    </tr>
    </tbody>
        <thead>
        <tr>
            <th>Name</th>
            <th>Movie</th>
        </tr>
        </thead>
        <tbody>
    <tr th:each="genre:${genres}">
        <td th:text="${genre.name}"></td>
        <td th:text="${genre.movieName}"></td>
        <td> <a th:href="@{/update-movie/{id}(id=${genre.genreID})}"
                class="btn btn-primary">Update</a>
            <a th:href="@{delete-genre/{id}(id=${genre.genreID})}"
               class="btn btn-danger">Delete</a>
            <a th:href="@{get-genre/{id}(id=${genre.genreID})}"
               class="btn btn-primary">Get</a>
    </tr>
    </tbody>
    </table>
</body>
</html>